*{
  /* transition: all 0.3s; */
}

.navbar{
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.23301820728291311) 50%, rgba(0, 0, 0, 0.466) 100%);
  text-shadow: 4px 4px 7px rgba(0,0,0,0.6);
}

.scrolled{
  background-color: #080808;
}

.navbarLeft{
  margin: 0 10px;
}

.navbarRight{
  margin: 0 10px;
}

.options{
  display: none;
}